$group-border-color:#a3f2ff;
$dashboard-color:#141f2f;
$profileElementWidth:358px;
.controlButtonSize{
  width: $profileElementWidth;
  height: 40px;
}

.buttonDashboard {
  min-width: 80px
}

.dashboardTabMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}
